// Mixins
$font-family-header: 'Fredoka One', cursive;
$font-family-paragraph: 'Scada', sans-serif;
$button-color: #D1B6E1;
$button-color-dark: #80559a;
$button-text: #fff;
$header-bullets: #fff;
// Three column icon and text
$section-two-bullets: #333;
// Header background
$background-1: #9DC8C8;
// Form field in header
$background-2: #fff;
// First section background
$background-3: #58C9B9;
// Second section background
$background-4: #519D9E;
// Checkout background
$background-5: #f9f9f9;

// Gradient (test)
$background-gradient: linear-gradient(#9dc8c8 0%,#58c9b9 100%);
